<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">

    <div class="row">
        <div class="quote" style="width:505px; float:right">
            <span class="quote__icon"></span>
            <div class="quote__text">В наибольшей безопасности тот, кто начеку, даже когда нет опасности.</div>
            <div class="quote__autor">Сайрус Паблиус</div>
        </div>
    </div>
    <div class="row">
        <h5 th:text="${section.name}"></h5>
    </div>
    <div class="row edit-section-form" sec:authorize="${hasRole('ROLE_ADMIN')}">
        <form action="#" th:action="@{/section/{id}(id=${section.id})}" th:object="${newTest}"
              th:method="put">
            <input type="hidden" th:field="*{section.id}"/>

            <input type="hidden" th:field="*{id}"/>
            <div class="form-field">
                <label for="title">Название</label>
                <input id="title" type="text" class="form-control" th:field="*{title}"
                       style="width:100%"
                       th:classappend="${#fields.hasErrors('title')} ? 'is-invalid': 'is-valid'"
                       placeholder="Новый тест"/>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    Title errors
                </div>
            </div>
            <div class="form-field-inline" style="width:172px;">
                <label for="code">Область аттестации</label>
                <input type="text" id="code" class="form-control" th:field="*{code}"
                       th:classappend="${#fields.hasErrors('code')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('code')}" th:errors="*{code}">
                    Title errors
                </div>
            </div>
            <div class="form-field">
                <label for="cipher">Шифр</label>
                <input  id="cipher" class="form-control" th:field="*{cipher}"
                          style="width: 100%;"
                          th:classappend="${#fields.hasErrors('cipher')} ? 'is-invalid': 'is-valid'"
                          placeholder="Новый шифр"/>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('cipher')}" th:errors="*{cipher}">
                    Description errors
                </div>
            </div>
            <div class="form-field-inline" style="width:172px">
                <label for="qCount">Кол-во вопросов в билете</label>
                <input type="text" id="qCount" class="form-control" th:field="*{questionsCount}"
                       th:classappend="${#fields.hasErrors('questionsCount')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('questionsCount')}" th:errors="*{questionsCount}">
                    Title errors
                </div>
            </div>
            <div class="form-field-inline" style="width: 172px;">
                <label for="errCount">Кол-во ошибок в билете</label>
                <input type="text" id="errCount" class="form-control" th:field="*{errorsCount}"
                       th:classappend="${#fields.hasErrors('errorsCount')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('errorsCount')}" th:errors="*{errorsCount}">
                    Title errors
                </div>
            </div>
            <div class="form-field-inline" style="width: 172px;">
                <label for="ticketsCount">Кол-во билетов в тесте</label>
                <input type="text" id="ticketsCount" class="form-control" th:field="*{ticketsCount}"
                       th:classappend="${#fields.hasErrors('ticketsCount')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('ticketsCount')}" th:errors="*{ticketsCount}">
                    Title errors
                </div>
            </div>
            <div class="form-field-inline" style="width:172px">
                <label for="qCount">Кол-во вопросов в билете для подготовки</label>
                <input type="text" id="oQCount" class="form-control" th:field="*{orderedQuestionsCount}"
                       th:classappend="${#fields.hasErrors('orderedQuestionsCount')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('orderedQuestionsCount')}" th:errors="*{orderedQuestionsCount}">
                    Title errors
                </div>
            </div>
            <button type="submit" style="margin:10px 0 0"
                    class="btn btn-primary ">+Добавить
            </button>
        </form>
    </div>
    <div class="row" th:if="${tests ne null and not #lists.isEmpty(tests)}">
        <table class="table ">
            <thead>
            <tr>
                <th scope="col" style="width: 44px;">Область аттестации</th>
                <th scope="col" sec:authorize="${hasRole('ROLE_ADMIN')}" style="width: 44px;">Шифр</th>
                <th scope="col" sec:authorize="${!hasRole('ROLE_ADMIN')}" style="width: 100px;">Шифр</th>
                <th scope="col" style="min-width: 272px;">Наименование</th>
                <th:block sec:authorize="${hasRole('ROLE_ADMIN')}">
                    <th scope="col">Кол-во вопросов в билете</th>
                    <th scope="col">Кол-во билетов</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </th:block>
            </tr>
            </thead>
            <tbody>
            <tr th:each="test, status : ${tests}" class="tests-list__item orderable test-item"
                th:attr="data-order=${test.order}, data-id=${test.id}"
            >
                <td style="text-align: left; word-break: break-all;" th:text="${test.code}">

                </td>
                <td style="text-align: left; word-break: break-all;" th:text="${test.cipher}">

                </td>
                <td style="text-align: left;">
                    <a th:href="@{/tests/{id}(id=${test.id})}" th:text="${test.title}"></a>
                </td>
                <th:block sec:authorize="${hasRole('ROLE_ADMIN')}">
                    <td th:text="${test.questionsCount}">
                        Mark
                    </td>
                    <td th:text="${test.ticketsCount }">
                        Mark
                    </td>
                    <td>
                        <a href="javascript:void(0)" th:attr="data-src=@{/tests/{id}/edit-modal(id=${test.id})}"
                           data-fancybox data-type="ajax">
                            <i class="sections-table__control far fa-edit" title="Редактировать"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/section/{id}/delete(id=${section.id},deleteId=${test.id})}">
                            <i class="sections-table__control far fa-trash-alt" title="Удалить"></i>
                        </a>
                    </td>
                    <td>
                        <div class="sort-up btn-link">
                            <i class="fas fa-caret-up"></i>
                        </div>
                        <div class="sort-down btn-link">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" th:if="${section.text1 ne null}" >
        <h5 th:text="${section.title1}"></h5>
        <p th:utext="${section.text1}"></p>
    </div>

</th:block>
</html>