<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">
    <div class="row">
        <a class="btn btn-inline" th:href="@{/tests/{id}(id=${test.id})}">Назад</a>
        <h5 style="display:inline-block" th:text="'Редактирование теста '+ ${test.title}"></h5>
        <small th:text="${'Всего вопросов: '+test.questionsNumber}"></small>
    </div>

    </p>
    <div class="row">

        <strong>1. Редактирование теста</strong>
        <div class=" edit-section-form">
            <form id="test-edit-form" action="#" th:action="@{/section/{id}(id=${test.section.id})}" th:object="${test}"
                  th:method="put">
                <input type="hidden" th:field="*{section.id}"/>
                <input type="hidden" th:field="*{order}"/>
                <input type="hidden" th:field="*{id}"/>
                <div class="form-field">
                    <label for="title">Название</label>
                    <input id="title" type="text" class="form-control" th:field="*{title}"
                           style="width:100%"
                           th:classappend="${#fields.hasErrors('title')} ? 'is-invalid': 'is-valid'"
                           placeholder="Новый тест"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                        Title errors
                    </div>
                </div>

                <div class="form-field-inline" style="width:172px;">
                    <label for="code">Область аттестации</label>
                    <input type="text" id="code" class="form-control" th:field="*{code}"
                           th:classappend="${#fields.hasErrors('code')} ? 'is-invalid': 'is-valid'"
                    />
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('code')}" th:errors="*{code}">
                        Title errors
                    </div>
                </div>
                <div class="form-field">
                    <label for="cipher">Описание</label>
                    <input id="cipher" class="form-control" th:field="*{cipher}"
                           style="width: 100%;"
                           th:classappend="${#fields.hasErrors('cipher')} ? 'is-invalid': 'is-valid'"
                           placeholder="Новый шифр"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('cipher')}" th:errors="*{cipher}">
                        cipher errors
                    </div>
                </div>
                <div class="form-field-inline" style="width:172px">
                    <label for="qCount">Кол-во вопросов в билете</label>
                    <input type="text" id="qCount" class="form-control" th:field="*{questionsCount}"
                           th:classappend="${#fields.hasErrors('questionsCount')} ? 'is-invalid': 'is-valid'"
                    />
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('questionsCount')}" th:errors="*{questionsCount}">
                        Title errors
                    </div>
                </div>

                <div class="form-field-inline" style="width: 172px;">
                    <label for="errCount">Кол-во ошибок в билете</label>
                    <input type="text" id="errCount" class="form-control" th:field="*{errorsCount}"
                           th:classappend="${#fields.hasErrors('errorsCount')} ? 'is-invalid': 'is-valid'"
                    />
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('errorsCount')}" th:errors="*{errorsCount}">
                        Title errors
                    </div>
                </div>
                <div class="form-field-inline" style="width: 172px;">
                    <label for="ticketsCount">Кол-во билетов в тесте</label>
                    <input type="text" id="ticketsCount" class="form-control" th:field="*{ticketsCount}"
                           th:classappend="${#fields.hasErrors('ticketsCount')} ? 'is-invalid': 'is-valid'"
                    />
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('ticketsCount')}" th:errors="*{ticketsCount}">
                        Title errors
                    </div>
                </div>
                <div class="form-field-inline" style="width:172px">
                    <label for="qCount">Кол-во вопросов в билете для подготовки</label>
                    <input type="text" id="oQCount" class="form-control" th:field="*{orderedQuestionsCount}"
                           th:classappend="${#fields.hasErrors('orderedQuestionsCount')} ? 'is-invalid': 'is-valid'"
                    />
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('orderedQuestionsCount')}" th:errors="*{orderedQuestionsCount}">
                        Title errors
                    </div>
                </div>
                <div class="form-field">
                    <label for="descr-heading">Описание заголовок</label>
                    <input id="descr-heading" type="text" class="form-control" th:field="*{descriptionTitle}"
                           style="width:100%"
                           th:classappend="${#fields.hasErrors('descriptionTitle')} ? 'is-invalid': 'is-valid'"
                           placeholder="Описание заголовок"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('descriptionTitle')}" th:errors="*{descriptionTitle}">
                        Title errors
                    </div>
                </div>
                <div class="form-field">
                    <label for="descr-content">Описание текст</label>
                    <textarea id="descr-content" type="text" class="form-control" th:field="*{descriptionContent}"
                              style="width:100%"
                              th:classappend="${#fields.hasErrors('descriptionContent')} ? 'is-invalid': 'is-valid'"
                              placeholder="Описание"></textarea>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('descriptionContent')}" th:errors="*{descriptionContent}">
                        Title errors
                    </div>
                </div>
                <button type="submit" style="margin:10px 0 0"
                        class="btn btn-primary ">Сохранить
                </button>
            </form>
        </div>
    </div>
    <div class="row edit-section-form">
        <strong>2. Список литературы</strong>
        <form method="post" id="add-literature">
            <input type="hidden" name="testId" th:value="${test.id}"/>
            <input type="text" name="title" style="width:100%"/>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
        <table class="table table-headless">
            <tr th:each="lit : ${testLiterature}">
                <td th:text="${lit.title}" style="text-align:left;"></td>
                <td>
                    <a href="#" class="delete-literature" th:attr="data-id=${lit.id}">
                        <i class="far fa-trash-alt" title="Удалить"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">

        <label for="docxFile"><strong>3. Загрузка вопросов из файла</strong></label>

        <div class="form-field-framed file-input-wrapper ">
            <form th:action="@{/questions/upload}" id="questionFilesForm">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" name="testId" th:value="${test.id}"/>
                <input type="file" name="docxFiles" multiple="multiple"
                       class="form-control-file"
                       id="docxFile"
                       accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
            </form>

            <div class="loader"></div>
            <small class="load">Загружаю...</small>
            <button type="submit" class="btn btn-primary open-file-dialog">Загрузить</button>
            <small id="docxFileHelp" class="info">Разрешенный тип файлов - docx</small>
        </div>
    </div>
    <div class="row">
        <div class="alert invalid-feedback" style="display: none;">
            <span class="alert__icon"></span>
            <div class="alert__text">
                Выберите один или несколько файлов формата docx!
            </div>
        </div>
    </div>
    <div class="row">
        <p><strong>4. Редактирование вопросов</strong> <a th:if="${questions.getContent().size() > 0}"
                                                          th:href="@{/tests/{id}/delete-all-questions(id=${test.id})}">Удалить
            все вопросы</a></p>
        <div class="new-question-form question">

            <form action="" th:method="put" th:object="${newQuestion}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{order}"/>
                <div class="form-field row">
                    <label for="questionText" class="col-sm-2 col-form-label">Текст вопроса</label>
                    <div class="col-sm-10">
                <textarea class="new-question-form__textarea" id="questionText" th:field="*{questionText}">
                </textarea>
                    </div>

                </div>
                <div class="form-field row">
                    <label for="questionLinkNtd" class="col-sm-2 col-form-label">Текст ссылки на НТД</label>
                    <div class="col-sm-10">
                <textarea class="new-question-form__textarea" id="questionLinkNtd" th:field="*{ntdLink}">
                </textarea>
                    </div>

                </div>
                <div class="form-field row answer-group" th:each="answer, iter: *{answers}">
                    <label th:for="'answer'+${iter.index}" class="col-sm-2 col-form-label"
                           th:text="'Ответ '+${iter.index + 1}"></label>
                    <textarea class="new-question-form__answer-textarea" th:id="'answer'+${iter.index}"
                              th:field="*{answers[__${iter.index}__].answerText}">
                        </textarea>


                    <div class="checkbox checkbox-green new-question-form__checkbox">
                        <label>
                            <input type="checkbox" th:id="'answer'+${iter.index}+'-correct'"
                                   th:field="*{answers[__${iter.index}__].correct}">
                            <div class="check"></div>
                            <span class="label">Верный ответ</span>
                        </label>
                    </div>

                </div>
                <div class="row">
                    <button class="btn btn-link add-answer-nq">
                        Добавить ответ
                    </button>
                </div>
                <button type="submit" class="btn btn-primary">
                    Добавить вопрос
                </button>
            </form>
        </div>
        <div class="question" th:each="question, qestIter : ${questions.getContent()}">
            <th:block th:replace="blocks/question-form::question-edit(${question}, ${qestIter.index})"></th:block>
        </div>
    </div>
    <br>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" th:if="${questions.getTotalPages() > 0}">
            <li class="page-item" th:classappend="${pageActive == pageNum} ? 'active': ''"
                th:each="pageNum : ${#numbers.sequence(0, questions.getTotalPages()-1)}">
                <a class="page-link" th:href="@{/tests/{id}/edit(id=${test.id},page=${pageNum})}"
                   th:text="${pageNum+1}"></a>
            </li>
        </ul>
    </nav>
</th:block>
</html>