<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <div class="header-container">
        <header>

            <div class="logo" onclick="window.location.href='/'"><span class="logo-img"></span>
                <div class="logo__text">
                    PromBez<span class="logo__orange">24</span><span class="logo__suffix">.ru</span>
                </div>
            </div>
            <div class="header__main"><strong>Онлайн тестирование</strong>
                <span>Подготовка специалистов к аттестации в Ростехнадзоре</span>
            </div>
            <div class="socials socials-header">
                <span class="socials__heading">Поделиться</span>
                <div class="social"><a
                        th:href="${vkShare}"
                        target="_blank"><i class="vk"></i></a></div>
                <div class="social"><a th:href="${fbShare}" target="_blank"> <i class="fb"></i></a></div>
                <div class="social"><a
                        th:href="${okShare}"
                        target="_blank">
                    <i class="fab fa-odnoklassniki ok"></i>
                </a></div>
            </div>
        </header>
    </div>
</th:block>
</html>